/.idea
*logs
.settings
.classpath
.factorypath
.project

*.tar
/.vscode
node_modules
*package-lock.json
/storage
.Ds_store

/callcenterParent/*.iml
/callcenterCommon/*.iml
/callcenterPojo/*.iml
/callcenterBatch/*.iml
/callcenterEureka/*.iml
/callcenterFeignClient/*.iml
/callcenterGateway/*.iml
/callcenterZipkin/*.iml
/callcenterServer/*.iml
/callcenterCallList/*.iml
/callcenterFreeswitch/*.iml
